<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Accedi</title>
  </head>
  <body>
    <h1>Login</h1>
    <form  action="/accedi" method="post">
      <p>Username</p> 
      <input type="text" name="nm"> 
      <p>Password</p> 
      <input type="password" name="pw"> <br>
      {%with messages = get_flashed_messages()%}
        {%if messages%}
          {% for msg in messages%}
            {{msg}}
          {%endfor%}
        {%endif%}
      {%endwith%} <br>
      <input type="submit" name="submit" value="Accedi">
    </form>
    <p>Se non sei registrato fallo cliccando <a href="/registrati">qui</a></p>
  </body>
</html>
